* {
    font-family: Calibri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100%;
}

.content {
    width: 1000px;
    height: 600px;
    background: rgb(75, 183, 223);
}

.content .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 40px 0;
}

.content .title h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.content .title p {
    font-size: 20px;
}

.content .title button {
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 20px;
}

.content .title button:hover {
    background: #cccccc;
    cursor: pointer;
}

table {
    display: flex;
    justify-content: center;
}

table tr {
    margin: 5px;
}

table td {
    padding: 5px;
    width: 150px;
    height: 150px;
}

table td .tile {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

table td .tile img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

table td .tile:hover {
    background: rgb(43, 43, 41);
}